.container {
    width: 100vh;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 50px;
    border-radius: 15px;
    background-color: #15182E;
    width: 45vw;
}

#searchbar {
    width: 20vw;
    height: 4vh;
    background-color: #15182E;
    color: white;
    border: 1px solid orange;
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
}

#searchbar:focus {
    outline: none !important;
    border:1px solid orange;
    box-shadow: 0 0 10px orange;
  }

.search-item-container {
      width: 50vw;
      height: 15vh;
      margin: 10px;
      background-color: #15182E;
      border-radius: 20px;
      text-align: left;
      padding: 10px;
      font-size: 24px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      
  }

  .search-item-container:hover {
      transform: scale(1.06);
      background-color: #090b14;
  }

  .search-item-container:active {
    transform: translate3d(3px, 3px, 0px);
  }

.colorpreview {
    width: 36px;
    height: 36px;
    border: 1px solid white;
    border-radius: 10px;
    float: left;
}



.hexcolor {
    float: left;
    padding: 5px;
}



#theme {
    background-color: rgb(4, 6, 17);
    font-family: 'Avenir Book';
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}